:8088 {
	@api path /api/*
	handle @api {
		reverse_proxy 127.0.0.1:8080 {
			transport http {
				dial_timeout 10s
				response_header_timeout 60s
			}
		}
	}

	@admin path /admin*
	handle @admin {
		reverse_proxy 127.0.0.1:3000 {
			transport http {
				dial_timeout 10s
				response_header_timeout 120s
			}
		}
	}

	@employee path /employee*
	handle @employee {
		reverse_proxy 127.0.0.1:3001 {
			transport http {
				dial_timeout 10s
				response_header_timeout 120s
			}
		}
	}

	@root path /
	redir @root /admin
}
