@import "tailwindcss";
@plugin "tailwindcss-animate";

/* Global tweaks */
html, body { height: 100%; }

.scrollbar-white::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-white::-webkit-scrollbar-track {
  background: #f0f0f0; 
}

.scrollbar-white::-webkit-scrollbar-thumb {
  background: #dbdbdb;  
  border-radius: 8px;
}

.scrollbar-white::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}